* {
    padding: 0;
    margin: 0;
    font-family: General Sans;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#minicircle{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
    width: 60px;
    height: 60px;
    position: absolute;
    background-color: beige;
    z-index: 9999;
    border-radius: 50%;
    mix-blend-mode:exclusion;
}

#main {
    width: 100%;

    #hero {
        height: 100vh;
        width: 100%;
        position: relative;

        #nav {
            padding: 20px 40px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                text-decoration: none;
                font-size: 18px;
            }
        }

        #heading {
            margin-top: 90px;

            .bounding{
                width: fit-content;
                // background-color: red;
                overflow: hidden;

                .boundingelem{
                    transform: translateY(100%);
                }
            }

            h1 {
                margin-left: 40px;
                opacity: 0.6;
                line-height: 1;
                font-family: 'General Sans Medium';
                font-size: 9vw;
                text-transform: uppercase;
            }

            .blocktext {
                width: fit-content;
                display: flex;
                flex-direction: column;
                align-items: end;

                h5 {
                    text-align: right;
                    text-transform: uppercase;
                    font-size: 15px;

                }
            }

            #secondh1 {
                margin-left: 230px;
            }
        }

        #subheading {
            margin-top: 100px;
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            align-items: end;

            h5 {
                text-align: right;
                text-transform: uppercase;
                margin-top: 0.5vw;
                font-size: 1vw;
            }
        }

        #herofooter {
            padding: 0 2vw;
            position: absolute;
            bottom: 3%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
                text-decoration: none;
                text-transform: uppercase;
            }

            #iconset {
                display: flex;
                gap: 5px;

                .circle {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 25px;
                    height: 25px;
                    background-color: #888;
                    border-radius: 50%;
                }
            }
        }

    }

    #second {
        padding-right: 5vw;
        padding-top: 200px;
        width: 100%;
        height: 100vh;

        .elemlast {
            border-bottom: 1px solid #888;
        }

        .elem {
            position: relative;
            width: 100%;
            border-top: 1px solid #888;
            padding: 2vw 1vw;
            padding-right: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
                position: absolute;
                z-index: 999;
                height: 140%;
                // display: none;
                opacity: 0;
            }

            h1 {
                text-transform: uppercase;
                font-size: 7.6vw;
                opacity: 0.7;
            }
        }
    }

    #about {
        width: 100%;
        padding: 12vw 5vw;
        padding-left: 40vw;
        display: flex;
        align-items: center;
        // justify-content: space-between;
        gap: 50px;

        img {
            width: 200px;

        }

        #textabout {
            width: 30rem;

            h5 {
                text-transform: uppercase;
                opacity: 0.6;
                margin-bottom: 10px;
            }

            p {
                line-height: 1.7;
                margin-bottom: 30px;
            }

            a {
                padding: 12px 22px;
                border: 1px solid white;
                border-radius: 100px;
                text-decoration: none;
                font-size: 12px;
            }

        }
    }

    #subscribe {
        padding: 20px 30px;
        padding-bottom: 10vw;

        h5 {
            text-transform: uppercase;
            opacity: 0.6;
        }

        h3 {
            text-transform: uppercase;
            font-size: 14px;
            margin-top: 10px;
        }
    }

    #footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 30px;

        #left {
            display: flex;
            gap: 20px;

        }

        #right {
            display: flex;
            gap: 20px;

            a {
                text-decoration: none;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 500;
                margin-left: 20px;
            }
        }
    }
}