*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #111;
    color: #fff;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 200px;
    height: 100px;
    padding: 10px;
    font-size: 30px;
    font-weight: 200;
    border-radius: 100px;
    background-color: #2d2d2d;
    color: #ffffff;
    z-index: 100;
}

button:active{
    background-color: #000000;
    color: #fff;
    scale: 0.95;
}

image{
    position: absolute;
    width: 50px;

}
