*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html , body{
    height: 100%;
    width: 100%;
    color: #fff;
    background-color: #111;
}

body{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img{
    width: 350px;
    height: 600px;

}

button{
    height: 50px;
    width: 100px;
    background-color: purple;
    color: beige;
}
button:active{
    scale: 0.96;
}

